.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Shared Styles */

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.bg-secondary {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
}

/* Header Section Styles Starts */

/* Navbar Section Styles Starts */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}
/* Navbar Section Styles Ends */

/* Banner Section Styles Starts */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-profile-picture {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
}
/* Banner Section Styles Ends */

/* Header Section Styles Ends */

/* Main Section Styles Starts */

main {
    max-width: 1200px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* Teams Section Styles Starts */
.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.our-feature-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}
/* Teams Section Styles Ends */

/* Features Section Styles Starts */
.features {
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.feature-card {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-sub-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card-description {
    font-size: 0.85rem;
}

#experience-badge {
    padding: 35px 40px;
    margin-left: -100px;
    margin-top: -70px;
}

#experience-year {
    font-size: 2.5rem;
    font-weight: 700;
}

#experience-text {
    font-weight: 500;
}

.featured-architect img {
    margin-top: 53px;
    width: 100%;
}
/* Features Section Styles Ends */

/* Facts Section Styles Starts */
.fact-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.fact-description {
    max-width: 570px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-left: 60px;
}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-weight: 600;
    margin-top: 10px;
}
/* Facts Section Styes Ends */

/* Sponsors Section Styles Starts */
.sponsor-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.sponsor-info {
    max-width: 570px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 40px;
}

.sponsor-companies img {
    filter: grayscale(100%);
}
/* Sponsors Section Styles Ends */

/* Main Section Styles Ends */

/* Footer Section Styles Starts */
.footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    border: none;
    border-radius: 8px;
    background-color: #FFF4E7;
}

.footer-description {
    padding: 20px 400px;
}
/* Footer Section Styles Ends */